{% set title = "Main" %}
{% set route = "home" %}

{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% block content %}

  <header class="main-header">
    <div class="container main-header__container">
      <div class="main-header__content">
        <div class="main-header__top">
          <span class="main-header__scroller">Kargo</span>
          <div class="main-header__h1">Грузовые ЖД-перевозки. Быстро. Надёжно. Без сложностей.</div>
        </div>
        <div class="main-header__bottom">
          <span class="main-header__scroller">TransLogistic</span></div>
      </div>
      <div class="main-header__line-wrapper">
        <div class="main-header__train">
          {% include "partials/svg/_train.html" %}
        </div>
        <div class="main-header__line"></div>
        <div class="main-header__line"></div>
        <div class="main-header__line"></div>
      </div>
    </div>
  </header>
  <main>
    <section class="section default-section">
      <div class="container section__container default-section__container">
        {{mixins.h2('Мы перевозим любые грузы ЖД-транспортом', 'default-section__h2')}}
        <div class="container__cols">
          <div class="container__l-col">{{mixins.btn('Больше о компании')}}</div>
          <div class="container__r-col">
            <p class="section__text">КАРГОТРАНСЛОДЖИСТИК — компания-экспедитор в сфере грузовых железнодорожных перевозок. Предоставляем комплекс услуг: от организации перевозок и подготовки документации до экспедирования грузов и ремонта вагонов.</p>
            <p class="section__text">Помогаем компаниям быстро, надёжно и без проблем доставить груз из точки А в точку Б. Сопровождаем любой процесс, связанный с грузовыми ЖД-перевозками.</p>
            <div class="section__after-line"></div>
          </div>
        </div>
      </div>
    </section>
    <div class="full-screen-img">
      <div class="full-screen-img__img-wrapper">
        <div class="full-screen-img__img" style="background-image: url('./img/1.jpg')"></div>
      </div>
    </div>
    <section class="section list-section">
      <div class="container section__container list-section__container">
        <h2 class="h2">Услуги</h2>
        <div class="list-section__list-items">
          {% for item in items.services %}
            <a href="#" class="list-section__list-item">
              <div class="list-section__line"></div>
              <div class="list-section__overlay"></div>
              <div class="list-section__list-item-content">
                <div class="list-section__left">
                  <div class="list-section__img">
                    <div class="list-section__img-pic" style="background-image: url({{item.img}})"></div>
                  </div>
                  <div class="list-section__text">
                    <h3 class="h3 list-section__h">{{item.heading}}</h3>
                    <p class="list-section__d">{{item.desc}}</p>
                  </div>
                </div>
                <div class="list-section__right">{% include "partials/svg/_arrow.html" %}</div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </section>
    <div class="transition-rails dark-section-transition-rails">
      <div class="transition-rails__items">
        <div class="transition-rails__item">&nbsp;— KargoTransLogistic — KargoTransLogistic&nbsp;</div>
        <div class="transition-rails__item">&nbsp;— KargoTransLogistic — KargoTransLogistic&nbsp;</div>
      </div>
    </div>
    <section class="section v-list-section dark-section">
      <div class="container section__container v-list-section__container">
        {{mixins.h2('Преимущества', 'v-list-section__h2')}}
        <div class="container__cols">
          <div class="container__l-col">
            <p class="section__bold-text">Мы берём на себя ответственность доставить ваш груз точно в срок. Работаем круглосуточно, 365 дней в году.</p>
          </div>
          <div class="container__r-col">
            <div class="v-list-section__items">
              {% for item in items.advantages %}
                <div class="v-list-section__item">
                  <h4 class="h4 v-list-section__h">{{item.heading}}</h4>
                  <div class="v-list-section__line"></div>
                  <p class="v-list-section__text">{{item.desc}}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="test-section"></section>
  </main>
{% endblock %}