<div class="navbar">
  <div class="container navbar__container">
    <div class="navbar__left">
      <div class="navbar__logo">
        {% include "partials/svg/_logo.html" %}
      </div>
      <div class="navbar__lang">
        <ul class="navbar__lang-list">
          <a href="#" class="navbar__link">Ru {% include "partials/svg/_dropdown.html" %}</a>
        </ul>
      </div>
    </div>
    <div class="navbar__right">
      <nav class="navbar__nav">
        <ul class="navbar__list">
          <li class="navbar__list-item">
            <a href="#" class="navbar__link">Услуги {% include "partials/svg/_dropdown.html" %}</a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link">О нас</a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link">Документы</a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link">Партнёры</a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link">Новости</a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>